<% if not @errors.empty? %>
<% @errors.each do |error| %>
<%= error %><br />
<% end %>
<% end %>

<% if not @messages.empty? %>
<% @messages.each do |message| %>
<%= message %><br />
<% end %>
<% end %>

<% if not @user  %>
please login
<% end %>

<form action="/cas/login" method="post">
  <input id="username" name="username" value="test@gobushido.com" />
  <input id="password" name="password" value="password" />
  <input id="lt"       name="lt"       value="<%= @login_ticket_name %>" />
  <% if @service %>
  <input id="service" name="service" value="<%= @service %>" />
  <% end %>
  <input type="submit" value="submit">
</form>
